<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rohan's Blog</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="home icon"></i> blog.Rohan</div>
                <a href="/" class="item"> Home </a>
                <a href="/blogs/new" class="item"> New Post </a>
            </div>
        </div>
