<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title </label>
            <input type="text" name="blog[title]" placheholder="title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placheholder="image">
        </div>
        <div class="field">
            <label>Description</label>
            <textarea name="blog[body]"></textarea>
        </div>
        <input class="ui blue inverted button big" type="submit">
    </form>

</div>

<% include ./partials/footer %>
